*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: tahoma, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent,rgba(0,0,0,0.7));
  z-index: 5;
  display: flex;
  transform: translateY(-100%);
  transition: 1s;
}
.overlay.active {
  transform: translateY(0);
}
.overlay .gameBox{
margin: auto;
width: 400px;
height: 500px;
background: linear-gradient(to bottom, orange, red);
border: 10px solid #f4f4f4;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 10px;
}
.overlay .gameBox img {
  margin-bottom: 20px;
  height: 100px;
}
.message {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;

}
.start {
  width: 60%;
  height: 40px;
  border: none;
  background: purple;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.start:before {
  content:'PLAY';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkblue;
  transform-origin: center;
  transition: 0.1s;
  transform: scaleX(0);
  z-index: ;
}
.start:hover:before{
 transform: scaleX(1);
}
#finalGoal {
  height: ;
  width: 100px;
  background: linear-gradient(to bottom, #656565,#000);
  border: none;
  outline: 0;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2),
              0px 0px 0px 2px #777;
  margin: 15px;
  font-size: 2rem;
  color: #fff;
}
.endGame {
  color: orange;
}
header{
  height: 10vh;
  display: flex;
  background: #666;
}
header img {
  height: 80%;
  margin: auto;
}
header h1 {
  margin: auto;
  display: none;
}
header h1 .orange {
  color: orange;
}
section {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
#result{
height: 12vh;
text-align: center;
}
#result h3 {
  margin: 5px;
}
.scoreboard {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  background: darkcyan;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  flex: 1
}
.score {
  margin: 0 20px;
  font-size: 3rem;
  text-align: center;
  flex: 1;
}
#game {
height: ;
}
.game-result {
  display: flex;
  height: 50px;
  font-family: Arial, cursive, sans-serif;
  text-align: center;
}
.game-result p {
  margin: auto;
  font-size: 1.5rem;
  color: #ffc600;
}
.counter {
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: block;
}
.counter span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #ffc600;
  font-size: 7rem;
  text-shadow: 2px 2px #000;
  display: none;
  animation: scale 1s linear infinite;
}
@keyframes scale {
  0%{
    transform: translate(-50%,-50%) scale(1);
  }
  100%{
    transform: translate(-50%,-50%) scale(0.7);
  }
}
.gameboard {
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222;
  overflow: hidden;
}
.action {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.green-glow {
  background: darkgreen;
}
.red-glow {
  background: #b90415;
}
.grey-glow {
  background: #777;
}
.action img {
  width: 100%;
}
.action img.active {
  animation: shake 3s linear forwards;
}

@keyframes shake {
  0%{
    transform: translateY(0px);
  }
  10%{
    transform: translateY(-30px);
  }
  30%{
    transform: translateY(10px);
  }
  40%{
    transform: translateY(-30px);
  }
  60%{
    transform: translateY(10px);
  }
  70%{
    transform: translateY(-20px);
  }
  90%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }
}
.user{
  transform: rotateY(180deg);
}
#picker {
margin-top: 20px;
height: 20vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#picker span {
  margin-top: 10px;
}
.choices {
height: auto;
display: flex;
justify-content: space-around;
align-items: center;
width: 60%;
}
.choice{
  height: 100px;
  width: 100px;
  border: 5px solid #103063;
  border-radius: 50%;
  display: flex;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.choice:hover {
  box-shadow: 0 0 20px #fff;
}
.choice.active {
  box-shadow: 0 0 0 5px #ffc600;
}
.choice img {
  width: 100%;
}

/**************** MEDIA *******************************/

@media( max-width: 480px){

  header h1 {
    font-size: 1.5rem;
  }
  .game-result p {
    font-size: 1rem;
  }
  .player {
    font-size: 1rem;
  }
  .choices {
    width: 100%;
  }

};
