:root{
  --yellow: #ffc600;
  --pink: #f93d66;
  --purple: #6d47d9;
  --light-blue: #34b3a0;
  --tr-blue: #34b3a032;
  --tr-grey: #11111132;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
width: 100vw;
min-height: 100vh;
background: linear-gradient(to right,var(--yellow),red);
padding: 50px;
overflow-x: hidden;
font-family: sans-serif;
text-align: center;
}
h1{
color: #fff;
margin-bottom: 20px;
text-shadow: 0 5px 10px  #000;
}
.gallery {

}
.overlay{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0,0,0,0.7);
display: none;
z-index: 2;
}
.overlay.open{
display: block;
}
.arrow {

top: 50%;
width: 50px;
height: 50px;
transform: translateY(-50%) rotate(45deg);
position: absolute;
z-index: 5;
cursor: pointer;
}
.arrow:hover {
border-color: #996600;
}
.arrow-left{
left: 10%;
border-left: 10px solid #fff;
border-bottom: 10px solid #fff;

}
.arrow-right{
right: 10%;
border-right: 10px solid #fff;
border-top: 10px solid #fff;

}
.overlay-inner{
position: fixed;
top: 50%;
left: 50%;
width: auto;
height: auto;
background: #fff;
padding: 10px;
z-index: 3;
text-align: right;
box-shadow:0 20px 30px -20px #000;
transform: translate(-50%,-50%) scale(0);
transform-origin: center;
transition: all 0.5s;
box-shadow: -20px 0 20px -10px #000,
             20px 0 20px -10px #000;
}

.overlay-inner img{
width: auto;
height: 90vmin;
position: relative;
}

.overlay-inner.open  {
transform:  translate(-50%,-50%) scale(1);
z-index: 3;

}
.close{
color: #000;
border: 0;
width: 70px;
height: 70px;
position: fixed;
top: 0;
right: 0;
font-size: 2.5rem;
background: #fff;
text-transform: uppercase;
cursor: pointer;
}
.close:hover{
color: #996600;
}
.gallery{
max-width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
grid-auto-rows: 100px;
grid-auto-flow: dense;
margin: auto;
}
.item{
display: grid;
overflow: hidden;
grid-template-columns: 1;
grid-template-rows: 1;
transform-style: preserve-3d;
transform-origin: center;
}

.item.v2{
grid-row: span 2;
}
.item.v3{
grid-row: span 3;
}
.item.v4{
grid-row: span 4;
}
.item.h2{
grid-column: span 2;
}
.item.h3{
grid-column: span 3;
background: ;
}
.item.h1 img{
display: ;
}
.item.h4{
grid-column: span 4;
}
.item.tr1{
transform: rotateX(20deg);
}
.item.tr2{
transform: rotateX(-20deg);
}
.item.tr3{
transform: rotateY(-20deg);
}
.item img{
width: 100%;
height: 100%;
grid-column: 1/-1;
grid-row: 1/-1;
object-fit: cover;
}
.item-overlay{
grid-column: 1/-1;
grid-row: 1/-1;
background: #ffc60032;
display: grid;
justify-content: center;
align-items: center;
transform: translateY(100%);
transition: ease-in 0.3s;
border: 2px solid #fff;
}
.item-overlay button{
text-transform: uppercase;
color: #fff;
border: 3px solid #fff;
background: none;
padding: 5px;
font-weight: bold;
outline: none;
}
.item.tr1:hover {
transform: rotateX(0);
}
.item:hover .item-overlay{
transform: translateY(0);
cursor: pointer;
}
